.parent {
  background-color: teal;
  padding: 20px;
}
.one {
  height: 50px;
  width: 50px;
  background-color: blue;
  border: 2px solid red;
  margin: 10px;
}

.two {
  height: 50px;
  width: 50px;
  background-color: yellow;
  border: 2px solid red;
  margin: 10px;
  position: relative;
  left: 50px;
}

.x {
  background-color: teal;
  padding: 20px;
}
.y {
  background-color: blue;
  padding: 10px;
  height: 100px;
  width: 400px;
  position: relative;
}
.z {
  background-color: yellow;
  height: 50px;
  width: 100px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.circle {
  height: 75px;
  width: 75px;
  background-color: teal;
  border-radius: 50%;
  color: white;
  float: left;
  margin: 10px;
}
.circle p {
  position: relative;
  top: 15px;
  left: 5px;
}
